*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d3cfc2;
}
.container{
    position: relative;
    width: 18rem;
    height: 60vh;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #2c2a27;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow: hidden;
}
.container .prev{
    position: absolute;
    color: #ffffff53;
    width: 100%;
    text-align: right;
    top: 1.4rem;
    right: 2rem;
}
.container .beforeeval{
    position: absolute;
    color: #ffffff53;
    width: 100%;
    text-align: right;
    top: 19%;
    right: 2rem;
}
.container input{
    background-color: #2c2a27;
    color: #fff;
    grid-column: 1/-1;
    text-align: end;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid aquamarine;
    border-radius: 10px;
    outline: none;
    overflow: hidden;
}
.container button{
    background-color: #2c2a27;
    color: #fff;
    font-size: 1.2rem;
    margin: 0.2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px;
    cursor: pointer;
}
.container button:hover{
    background-color: #1f1d1b;
}
.container button:active{
    background-color: #3d3a36;
}
.container .operator{
    color: aquamarine;
}